#list_projects{
    h1{
      font-family: "Trochut",serif;
      font-weight: 700;
      font-size: 5rem;
      letter-spacing: 2px;
      line-height: 6.5rem;
      text-align: center;
      }
    .content_list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        div{
            margin: 2%;
        }
        div img{
            width: auto;
            height: 20vh;
            cursor: pointer;
        }
        
        
    }
      
}
.content_project{
  width: 100%;
    .button_return{
        border: none;
        background: transparent;
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 20vw;
        top: 13vh;
    }
    .button_return:hover{
        color: rgb(139, 139, 139);
    }
}

@media (max-width: 1024px){
  #list_projects{
    h1{
      font-size: 3em;
      margin-top: -8vh;
    }
  }
  .content_project{
    width: 100%;
      .button_return{
          left: 1vw;
          top: 7vh;
          margin-bottom: 0px;
      }
      .button_return:hover{
          color: rgb(139, 139, 139);
      }
  }
}